<!-- Footer -->
    
<br /><br />
<center><p>A public service site created by <a href="http://www.texasfriendlydds.com">Texas Friendly Defensive Driving School</a></center>
<br /><br />

    <!-- Inspectlet -->

    <!-- Google Analytics -->
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-84212801-1', 'auto');
  ga('send', 'pageview');

</script>
    