<!-- Contact Us Section -->
    <section id="contactus">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Contact Us</h2>
                    
                </div>
            </div>
        
            <div class="row">
                <div class="col-lg-4 col-lg-offset-1">
                    <h3>Texas Friendly DDS<br />
                    PO Box 487 <br />
                    Hutto, TX 78634<br /> <br />

                    (512) 873-9207<br />
                    texasfriendlydds@gmail.com</h3>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; Texas Friendly DDS 2015</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        <!--<li><a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a>
                        </li> -->
                        
                    </ul>
                </div>
                <div class="col-md-4">
                    <div itemscope itemtype="http://schema.org/LocalBusiness" align="center">
                    <span itemprop="name">Texas Friendly Defensive Driving School</span>
                        <div itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
                            <i><span itemprop="ratingValue">4.7</span> stars - based on <span itemprop="reviewCount">78</span> reviews</i>
                        </div>
                    </div> 
                </div>
            </div>
        </div>
    </footer>

    <!-- Google Analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-63498700-1', 'auto');
      ga('send', 'pageview');
    </script>